IGN_DAILY_ADMIN_USER=admin
IGN_DAILY_ADMIN_PASSWORD=change-this-long-password
IGN_DAILY_REPO_PATH=/srv/ign-daily
IGN_DAILY_API_DIR=/srv/ign-daily-api
IGN_DAILY_STORAGE_MODE=local
IGN_DAILY_COOKIE_SECURE=0
IGN_DAILY_CORS_ORIGINS=
IGN_DAILY_WECHAT_APPID=
IGN_DAILY_WECHAT_APP_SECRET=
IGN_DAILY_WECHAT_JOB_TEMPLATE_ID=
IGN_DAILY_WECHAT_STATE=trial

